---
---

@import 'main';

/* append your custom style below */

@media print {
    /* 页面和元素的基础设置 */
    body, body * {
        visibility: hidden;

        // margin: 0;
        // padding: 0;
        // height: 100%;
    }

    /* 打印特定内容 */
    div.content, div.content * {
        visibility: visible;
    }

    div.content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;

        // column-count: 3;
        // -webkit-column-count: 3;
        // -moz-column-count: 3;
    }
}
