---
---

@import 'main';

/* append your custom style below */

@media print {
    /* 页面和元素的基础设置 */
    body, body * {
        visibility: hidden; 
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    /* 打印特定内容 */
    div.content, div.content * {
        visibility: visible;
    }

    div.content {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;

        column-count: 3;
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-gap: 20px;
    }
}
